In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [26]:
train = pd.read_csv("game.csv")
teams = pd.read_csv("team_info.csv")
teamabbr = ['NJD','PHI', 'LAK', 'TBL', 'BOS', 'NYR', 'PIT', 'DET', 'SJS', 'NSH', 'VAN', 'CHI', 'OTT', 'MTL', 'MIN', 'WSH','STL','ANA','PHX','NYI','TOR','FLA','BUF','CGY','COL', 'DAL', 'CBJ', 'WPG', 'EDM', 'VGK', 'CAR', 'ARI', 'ATL']

In [27]:
print(train)

          game_id    season type   date_time         date_time_GMT  \
0      2011030221  20112012    P  2012-04-29  2012-04-29T19:00:00Z
1      2011030222  20112012    P  2012-05-01  2012-05-01T23:30:00Z
2      2011030223  20112012    P  2012-05-03  2012-05-03T23:30:00Z
3      2011030224  20112012    P  2012-05-06  2012-05-06T23:30:00Z
4      2011030225  20112012    P  2012-05-08  2012-05-08T23:30:00Z
5      2011030411  20112012    P  2012-05-31  2012-05-31T00:00:00Z
6      2011030412  20112012    P  2012-06-03  2012-06-03T00:00:00Z
7      2011030413  20112012    P  2012-06-05  2012-06-05T00:00:00Z
8      2011030414  20112012    P  2012-06-07  2012-06-07T00:00:00Z
9      2011030415  20112012    P  2012-06-10  2012-06-10T00:00:00Z
10     2011030416  20112012    P  2012-06-12  2012-06-12T00:00:00Z
11     2010030311  20102011    P  2011-05-15  2011-05-15T00:00:00Z
12     2010030312  20102011    P  2011-05-18  2011-05-18T00:00:00Z
13     2010030313  20102011    P  2011-05-20  2011-05-20T00:00:00Z
14     2010030314  20102011    P  2011-05-21  2011-05-21T17:30:00Z
15     2010030315  20102011    P  2011-05-24  2011-05-24T00:00:00Z
16     2010030316  20102011    P  2011-05-26  2011-05-26T00:00:00Z
17     2010030317  20102011    P  2011-05-28  2011-05-28T00:00:00Z
18     2012030221  20122013    P  2013-05-16  2013-05-16T23:30:00Z
19     2012030222  20122013    P  2013-05-19  2013-05-19T19:00:00Z
20     2012030223  20122013    P  2013-05-21  2013-05-21T23:30:00Z
21     2012030224  20122013    P  2013-05-23  2013-05-23T23:00:00Z
22     2012030225  20122013    P  2013-05-25  2013-05-25T21:30:00Z
23     2012030311  20122013    P  2013-06-02  2013-06-02T00:00:00Z
24     2012030312  20122013    P  2013-06-04  2013-06-04T00:00:00Z
25     2012030313  20122013    P  2013-06-06  2013-06-06T00:00:00Z
26     2012030314  20122013    P  2013-06-08  2013-06-08T00:00:00Z
27     2010030241  20102011    P  2011-04-30  2011-04-30T02:00:00Z
28     2010030242  20102011    P  2011-05-01  2011-05-01T19:00:00Z
29     2010030243  20102011    P  2011-05-05  2011-05-05T00:00:00Z
...           ...       ...  ...         ...                   ...
11404  2018030223  20182019    P  2019-05-01  2019-05-01T23:00:00Z
11405  2018030234  20182019    P  2019-05-02  2019-05-02T01:30:00Z
11406  2018030214  20182019    P  2019-05-02  2019-05-02T23:30:00Z
11407  2018030244  20182019    P  2019-05-03  2019-05-03T02:00:00Z
11408  2018030224  20182019    P  2019-05-03  2019-05-03T23:00:00Z
11409  2018030235  20182019    P  2019-05-04  2019-05-04T01:30:00Z
11410  2018030215  20182019    P  2019-05-04  2019-05-04T23:15:00Z
11411  2018030245  20182019    P  2019-05-05  2019-05-05T02:00:00Z
11412  2018030236  20182019    P  2019-05-05  2019-05-05T19:00:00Z
11413  2018030216  20182019    P  2019-05-06  2019-05-06T23:00:00Z
11414  2018030246  20182019    P  2019-05-07  2019-05-07T02:00:00Z
11415  2018030237  20182019    P  2019-05-08  2019-05-08T00:00:00Z
11416  2018030247  20182019    P  2019-05-09  2019-05-09T01:00:00Z
11417  2018030311  20182019    P  2019-05-10  2019-05-10T00:00:00Z
11418  2018030321  20182019    P  2019-05-12  2019-05-12T00:00:00Z
11419  2018030312  20182019    P  2019-05-12  2019-05-12T19:00:00Z
11420  2018030322  20182019    P  2019-05-14  2019-05-14T01:00:00Z
11421  2018030313  20182019    P  2019-05-15  2019-05-15T00:00:00Z
11422  2018030323  20182019    P  2019-05-16  2019-05-16T00:00:00Z
11423  2018030314  20182019    P  2019-05-17  2019-05-17T00:00:00Z
11424  2018030324  20182019    P  2019-05-18  2019-05-18T00:00:00Z
11425  2018030325  20182019    P  2019-05-19  2019-05-19T19:00:00Z
11426  2018030326  20182019    P  2019-05-22  2019-05-22T00:00:00Z
11427  2018030411  20182019    P  2019-05-28  2019-05-28T00:00:00Z
11428  2018030412  20182019    P  2019-05-30  2019-05-30T00:00:00Z
11429  2018030413  20182019    P  2019-06-02  2019-06-02T00:00:00Z
11430  2018030414  20182019    P  2019-06-04  2019-06-04T00:00:00Z
11431  2018030415  20182019    P  2019-06-07  2019-06-07T00:00:00Z
11432  2018030416  20182019    P  2019-06-10  2019-06-10T00:00:00Z
11433  2018030417  20182019    P  2019-06-13  2019-06-13T00:00:00Z

       away_team_id  home_team_id  away_goals  home_goals       outcome  \
0                 1             4           3           4   home win OT
1                 1             4           4           1  away win REG
2                 4             1           3           4   home win OT
3                 4             1           2           4  home win REG
4                 1             4           3           1  away win REG
5                26             1           2           1   away win OT
6                26             1           2           1   away win OT
7                 1            26           0           4  home win REG
8                 1            26           3           1  away win REG
9                26             1           1           2  home win REG
10                1            26           1           6  home win REG
11               14             6           5           2  away win REG
12               14             6           5           6  home win REG
13                6            14           2           0  away win REG
14                6            14           3           5  home win REG
15               14             6           1           3  home win REG
16                6            14           4           5  home win REG
17               14             6           0           1  home win REG
18                3             6           2           3   home win OT
19                3             6           2           5  home win REG
20                6             3           2           1  away win REG
21                6             3           3           4   home win OT
22                3             6           1           3  home win REG
23                6             5           3           0  away win REG
24                6             5           6           1  away win REG
25                5             6           1           2   home win OT
26                5             6           0           1  home win REG
27               17            28           1           2   home win OT
28               17            28           1           2  home win REG
29               28            17           4           3   away win OT
...             ...           ...         ...         ...           ...
11404             2            12           2           5  home win REG
11405            19            25           2           4  home win REG
11406             6            29           4           1  away win REG
11407            28            21           0           3  home win REG
11408             2            12           2           5  home win REG
11409            25            19           2           1  away win REG
11410            29             6           3           4  home win REG
11411            21            28           1           2  home win REG
11412            19            25           4           1  away win REG
11413             6            29           3           0  away win REG
11414            28            21           3           4   home win OT
11415            25            19           1           2   home win OT
11416            21            28           2           3  home win REG
11417            12             6           2           5  home win REG
11418            19            28           3           6  home win REG
11419            12             6           2           6  home win REG
11420            19            28           4           2  away win REG
11421             6            12           2           1  away win REG
11422            28            19           5           4   away win OT
11423             6            12           4           0  away win REG
11424            28            19           1           2  home win REG
11425            19            28           5           0  away win REG
11426            28            19           1           5  home win REG
11427            19             6           2           4  home win REG
11428            19             6           3           2   away win OT
11429             6            19           7           2  away win REG
11430             6            19           2           4  home win REG
11431            19             6           2           1  away win REG
11432             6            19           5           1  away win REG
11433            19             6           4           1  away win REG

      home_rink_side_start                     venue           venue_link  \
0                    right        Wells Fargo Center  /api/v1/venues/null
1                    right        Wells Fargo Center  /api/v1/venues/null
2                     left         Prudential Center  /api/v1/venues/null
3                     left         Prudential Center  /api/v1/venues/null
4                    right        Wells Fargo Center  /api/v1/venues/null
5                     left         Prudential Center  /api/v1/venues/null
6                     left         Prudential Center  /api/v1/venues/null
7                    right            Staples Center  /api/v1/venues/null
8                    right            Staples Center  /api/v1/venues/null
9                     left         Prudential Center  /api/v1/venues/null
10                   right            Staples Center  /api/v1/venues/null
11                    left                 TD Garden  /api/v1/venues/null
12                    left                 TD Garden  /api/v1/venues/null
13                    left      St. Pete Times Forum  /api/v1/venues/null
14                    left      St. Pete Times Forum  /api/v1/venues/null
15                    left                 TD Garden  /api/v1/venues/null
16                    left      St. Pete Times Forum  /api/v1/venues/null
17                    left                 TD Garden  /api/v1/venues/null
18                    left                 TD Garden  /api/v1/venues/null
19                    left                 TD Garden  /api/v1/venues/null
20                   right     Madison Square Garden  /api/v1/venues/null
21                   right     Madison Square Garden  /api/v1/venues/null
22                    left                 TD Garden  /api/v1/venues/null
23                    left      CONSOL Energy Center  /api/v1/venues/null
24                    left      CONSOL Energy Center  /api/v1/venues/null
25                    left                 TD Garden  /api/v1/venues/null
26                    left                 TD Garden  /api/v1/venues/null
27                    left   HP Pavilion at San Jose  /api/v1/venues/null
28                    left   HP Pavilion at San Jose  /api/v1/venues/null
29                   right           Joe Louis Arena  /api/v1/venues/null
...                    ...                       ...                  ...
11404                right                 PNC Arena  /api/v1/venues/5066
11405                right  American Airlines Center  /api/v1/venues/5019
11406                 left          Nationwide Arena  /api/v1/venues/5059
11407                right              Pepsi Center  /api/v1/venues/5064
11408                right                 PNC Arena  /api/v1/venues/5066
11409                 left         Enterprise Center  /api/v1/venues/5076
11410                 left                 TD Garden  /api/v1/venues/5085
11411                 left    SAP Center at San Jose  /api/v1/venues/null
11412                right  American Airlines Center  /api/v1/venues/5019
11413                 left          Nationwide Arena  /api/v1/venues/5059
11414                right              Pepsi Center  /api/v1/venues/5064
11415                 left         Enterprise Center  /api/v1/venues/5076
11416                 left    SAP Center at San Jose  /api/v1/venues/null
11417                 left                 TD Garden  /api/v1/venues/5085
11418                 left    SAP Center at San Jose  /api/v1/venues/null
11419                 left                 TD Garden  /api/v1/venues/5085
11420                 left    SAP Center at San Jose  /api/v1/venues/null
11421                right                 PNC Arena  /api/v1/venues/5066
11422                 left         Enterprise Center  /api/v1/venues/5076
11423                right                 PNC Arena  /api/v1/venues/5066
11424                 left         Enterprise Center  /api/v1/venues/5076
11425                 left    SAP Center at San Jose  /api/v1/venues/null
11426                 left         Enterprise Center  /api/v1/venues/5076
11427                 left                 TD Garden  /api/v1/venues/5085
11428                 left                 TD Garden  /api/v1/venues/5085
11429                 left         Enterprise Center  /api/v1/venues/5076
11430                 left         Enterprise Center  /api/v1/venues/5076
11431                 left                 TD Garden  /api/v1/venues/5085
11432                 left         Enterprise Center  /api/v1/venues/5076
11433                 left                 TD Garden  /api/v1/venues/5085

        venue_time_zone_id  venue_time_zone_offset venue_time_zone_tz
0         America/New_York                      -4                EDT
1         America/New_York                      -4                EDT
2         America/New_York                      -4                EDT
3         America/New_York                      -4                EDT
4         America/New_York                      -4                EDT
5         America/New_York                      -4                EDT
6         America/New_York                      -4                EDT
7      America/Los_Angeles                      -7                PDT
8      America/Los_Angeles                      -7                PDT
9         America/New_York                      -4                EDT
10     America/Los_Angeles                      -7                PDT
11        America/New_York                      -4                EDT
12        America/New_York                      -4                EDT
13        America/New_York                      -4                EDT
14        America/New_York                      -4                EDT
15        America/New_York                      -4                EDT
16        America/New_York                      -4                EDT
17        America/New_York                      -4                EDT
18        America/New_York                      -4                EDT
19        America/New_York                      -4                EDT
20        America/New_York                      -4                EDT
21        America/New_York                      -4                EDT
22        America/New_York                      -4                EDT
23        America/New_York                      -4                EDT
24        America/New_York                      -4                EDT
25        America/New_York                      -4                EDT
26        America/New_York                      -4                EDT
27     America/Los_Angeles                      -7                PDT
28     America/Los_Angeles                      -7                PDT
29         America/Detroit                      -4                EDT
...                    ...                     ...                ...
11404     America/New_York                      -4                EDT
11405      America/Chicago                      -5                CDT
11406     America/New_York                      -4                EDT
11407       America/Denver                      -6                MDT
11408     America/New_York                      -4                EDT
11409      America/Chicago                      -5                CDT
11410     America/New_York                      -4                EDT
11411  America/Los_Angeles                      -7                PDT
11412      America/Chicago                      -5                CDT
11413     America/New_York                      -4                EDT
11414       America/Denver                      -6                MDT
11415      America/Chicago                      -5                CDT
11416  America/Los_Angeles                      -7                PDT
11417     America/New_York                      -4                EDT
11418  America/Los_Angeles                      -7                PDT
11419     America/New_York                      -4                EDT
11420  America/Los_Angeles                      -7                PDT
11421     America/New_York                      -4                EDT
11422      America/Chicago                      -5                CDT
11423     America/New_York                      -4                EDT
11424      America/Chicago                      -5                CDT
11425  America/Los_Angeles                      -7                PDT
11426      America/Chicago                      -5                CDT
11427     America/New_York                      -4                EDT
11428     America/New_York                      -4                EDT
11429      America/Chicago                      -5                CDT
11430      America/Chicago                      -5                CDT
11431     America/New_York                      -4                EDT
11432      America/Chicago                      -5                CDT
11433     America/New_York                      -4                EDT

[11434 rows x 16 columns]

In [28]:
print(teams)

    team_id  franchiseId     shortName        teamName abbreviation  \
0         1           23    New Jersey          Devils          NJD
1         4           16  Philadelphia          Flyers          PHI
2        26           14   Los Angeles           Kings          LAK
3        14           31     Tampa Bay       Lightning          TBL
4         6            6        Boston          Bruins          BOS
5         3           10    NY Rangers         Rangers          NYR
6         5           17    Pittsburgh        Penguins          PIT
7        17           12       Detroit       Red Wings          DET
8        28           29      San Jose          Sharks          SJS
9        18           34     Nashville       Predators          NSH
10       23           20     Vancouver         Canucks          VAN
11       16           11       Chicago      Blackhawks          CHI
12        9           30        Ottawa        Senators          OTT
13        8            1      Montreal       Canadiens          MTL
14       30           37     Minnesota            Wild          MIN
15       15           24    Washington        Capitals          WSH
16       19           18      St Louis           Blues          STL
17       24           32       Anaheim           Ducks          ANA
18       27           28       Phoenix         Coyotes          PHX
19        2           22  NY Islanders       Islanders          NYI
20       10            5       Toronto     Maple Leafs          TOR
21       13           33       Florida        Panthers          FLA
22        7           19       Buffalo          Sabres          BUF
23       20           21       Calgary          Flames          CGY
24       21           27      Colorado       Avalanche          COL
25       25           15        Dallas           Stars          DAL
26       29           36      Columbus    Blue Jackets          CBJ
27       52           35      Winnipeg            Jets          WPG
28       22           25      Edmonton          Oilers          EDM
29       54           38         Vegas  Golden Knights          VGK
30       12           26      Carolina      Hurricanes          CAR
31       53           28       Arizona         Coyotes          ARI
32       11           35       Atlanta       Thrashers          ATL

                link
0    /api/v1/teams/1
1    /api/v1/teams/4
2   /api/v1/teams/26
3   /api/v1/teams/14
4    /api/v1/teams/6
5    /api/v1/teams/3
6    /api/v1/teams/5
7   /api/v1/teams/17
8   /api/v1/teams/28
9   /api/v1/teams/18
10  /api/v1/teams/23
11  /api/v1/teams/16
12   /api/v1/teams/9
13   /api/v1/teams/8
14  /api/v1/teams/30
15  /api/v1/teams/15
16  /api/v1/teams/19
17  /api/v1/teams/24
18  /api/v1/teams/27
19   /api/v1/teams/2
20  /api/v1/teams/10
21  /api/v1/teams/13
22   /api/v1/teams/7
23  /api/v1/teams/20
24  /api/v1/teams/21
25  /api/v1/teams/25
26  /api/v1/teams/29
27  /api/v1/teams/52
28  /api/v1/teams/22
29  /api/v1/teams/54
30  /api/v1/teams/12
31  /api/v1/teams/53
32  /api/v1/teams/11

In [29]:
train.head()

,game_id,season,type,date_time,date_time_GMT,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,venue,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz
0,2011030221,20112012,P,2012-04-29,2012-04-29T19:00:00Z,1,4,3,4,home win OT,right,Wells Fargo Center,/api/v1/venues/null,America/New_York,-4,EDT
1,2011030222,20112012,P,2012-05-01,2012-05-01T23:30:00Z,1,4,4,1,away win REG,right,Wells Fargo Center,/api/v1/venues/null,America/New_York,-4,EDT
2,2011030223,20112012,P,2012-05-03,2012-05-03T23:30:00Z,4,1,3,4,home win OT,left,Prudential Center,/api/v1/venues/null,America/New_York,-4,EDT
3,2011030224,20112012,P,2012-05-06,2012-05-06T23:30:00Z,4,1,2,4,home win REG,left,Prudential Center,/api/v1/venues/null,America/New_York,-4,EDT
4,2011030225,20112012,P,2012-05-08,2012-05-08T23:30:00Z,1,4,3,1,away win REG,right,Wells Fargo Center,/api/v1/venues/null,America/New_York,-4,EDT

In [30]:
teams.head()

,team_id,franchiseId,shortName,teamName,abbreviation,link
0,1,23,New Jersey,Devils,NJD,/api/v1/teams/1
1,4,16,Philadelphia,Flyers,PHI,/api/v1/teams/4
2,26,14,Los Angeles,Kings,LAK,/api/v1/teams/26
3,14,31,Tampa Bay,Lightning,TBL,/api/v1/teams/14
4,6,6,Boston,Bruins,BOS,/api/v1/teams/6

In [31]:
goals = [[]]

In [32]:
teams.drop(['franchiseId', 'shortName', 'teamName', 'link'], axis = 1, inplace = True)

In [33]:
teams.head()

   team_id abbreviation
0        1          NJD
1        4          PHI
2       26          LAK
3       14          TBL
4        6          BOS

In [34]:
def outcome(game):
    homewin = game[0]
    if 'home' in homewin:
        return 1
    return 0

In [35]:
train['outcome'] = train[['outcome']].apply(outcome,axis=1)

In [36]:
teams

    team_id abbreviation
0         1          NJD
1         4          PHI
2        26          LAK
3        14          TBL
4         6          BOS
5         3          NYR
6         5          PIT
7        17          DET
8        28          SJS
9        18          NSH
10       23          VAN
11       16          CHI
12        9          OTT
13        8          MTL
14       30          MIN
15       15          WSH
16       19          STL
17       24          ANA
18       27          PHX
19        2          NYI
20       10          TOR
21       13          FLA
22        7          BUF
23       20          CGY
24       21          COL
25       25          DAL
26       29          CBJ
27       52          WPG
28       22          EDM
29       54          VGK
30       12          CAR
31       53          ARI
32       11          ATL

In [37]:
train.head()

,game_id,season,type,date_time,date_time_GMT,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,venue,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz
0,2011030221,20112012,P,2012-04-29,2012-04-29T19:00:00Z,1,4,3,4,1,right,Wells Fargo Center,/api/v1/venues/null,America/New_York,-4,EDT
1,2011030222,20112012,P,2012-05-01,2012-05-01T23:30:00Z,1,4,4,1,0,right,Wells Fargo Center,/api/v1/venues/null,America/New_York,-4,EDT
2,2011030223,20112012,P,2012-05-03,2012-05-03T23:30:00Z,4,1,3,4,1,left,Prudential Center,/api/v1/venues/null,America/New_York,-4,EDT
3,2011030224,20112012,P,2012-05-06,2012-05-06T23:30:00Z,4,1,2,4,1,left,Prudential Center,/api/v1/venues/null,America/New_York,-4,EDT
4,2011030225,20112012,P,2012-05-08,2012-05-08T23:30:00Z,1,4,3,1,0,right,Wells Fargo Center,/api/v1/venues/null,America/New_York,-4,EDT

In [38]:
train

,game_id,season,type,date_time,date_time_GMT,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,venue,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz
0,2011030221,20112012,P,2012-04-29,2012-04-29T19:00:00Z,1,4,3,4,1,right,Wells Fargo Center,/api/v1/venues/null,America/New_York,-4,EDT
1,2011030222,20112012,P,2012-05-01,2012-05-01T23:30:00Z,1,4,4,1,0,right,Wells Fargo Center,/api/v1/venues/null,America/New_York,-4,EDT
2,2011030223,20112012,P,2012-05-03,2012-05-03T23:30:00Z,4,1,3,4,1,left,Prudential Center,/api/v1/venues/null,America/New_York,-4,EDT
3,2011030224,20112012,P,2012-05-06,2012-05-06T23:30:00Z,4,1,2,4,1,left,Prudential Center,/api/v1/venues/null,America/New_York,-4,EDT
4,2011030225,20112012,P,2012-05-08,2012-05-08T23:30:00Z,1,4,3,1,0,right,Wells Fargo Center,/api/v1/venues/null,America/New_York,-4,EDT
5,2011030411,20112012,P,2012-05-31,2012-05-31T00:00:00Z,26,1,2,1,0,left,Prudential Center,/api/v1/venues/null,America/New_York,-4,EDT
6,2011030412,20112012,P,2012-06-03,2012-06-03T00:00:00Z,26,1,2,1,0,left,Prudential Center,/api/v1/venues/null,America/New_York,-4,EDT
7,2011030413,20112012,P,2012-06-05,2012-06-05T00:00:00Z,1,26,0,4,1,right,Staples Center,/api/v1/venues/null,America/Los_Angeles,-7,PDT
8,2011030414,20112012,P,2012-06-07,2012-06-07T00:00:00Z,1,26,3,1,0,right,Staples Center,/api/v1/venues/null,America/Los_Angeles,-7,PDT
9,2011030415,20112012,P,2012-06-10,2012-06-10T00:00:00Z,26,1,1,2,1,left,Prudential Center,/api/v1/venues/null,America/New_York,-4,EDT
10,2011030416,20112012,P,2012-06-12,2012-06-12T00:00:00Z,1,26,1,6,1,right,Staples Center,/api/v1/venues/null,America/Los_Angeles,-7,PDT
11,2010030311,20102011,P,2011-05-15,2011-05-15T00:00:00Z,14,6,5,2,0,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT
12,2010030312,20102011,P,2011-05-18,2011-05-18T00:00:00Z,14,6,5,6,1,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT
13,2010030313,20102011,P,2011-05-20,2011-05-20T00:00:00Z,6,14,2,0,0,left,St. Pete Times Forum,/api/v1/venues/null,America/New_York,-4,EDT
14,2010030314,20102011,P,2011-05-21,2011-05-21T17:30:00Z,6,14,3,5,1,left,St. Pete Times Forum,/api/v1/venues/null,America/New_York,-4,EDT
15,2010030315,20102011,P,2011-05-24,2011-05-24T00:00:00Z,14,6,1,3,1,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT
16,2010030316,20102011,P,2011-05-26,2011-05-26T00:00:00Z,6,14,4,5,1,left,St. Pete Times Forum,/api/v1/venues/null,America/New_York,-4,EDT
17,2010030317,20102011,P,2011-05-28,2011-05-28T00:00:00Z,14,6,0,1,1,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT
18,2012030221,20122013,P,2013-05-16,2013-05-16T23:30:00Z,3,6,2,3,1,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT
19,2012030222,20122013,P,2013-05-19,2013-05-19T19:00:00Z,3,6,2,5,1,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT
20,2012030223,20122013,P,2013-05-21,2013-05-21T23:30:00Z,6,3,2,1,0,right,Madison Square Garden,/api/v1/venues/null,America/New_York,-4,EDT
21,2012030224,20122013,P,2013-05-23,2013-05-23T23:00:00Z,6,3,3,4,1,right,Madison Square Garden,/api/v1/venues/null,America/New_York,-4,EDT
22,2012030225,20122013,P,2013-05-25,2013-05-25T21:30:00Z,3,6,1,3,1,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT
23,2012030311,20122013,P,2013-06-02,2013-06-02T00:00:00Z,6,5,3,0,0,left,CONSOL Energy Center,/api/v1/venues/null,America/New_York,-4,EDT
24,2012030312,20122013,P,2013-06-04,2013-06-04T00:00:00Z,6,5,6,1,0,left,CONSOL Energy Center,/api/v1/venues/null,America/New_York,-4,EDT
25,2012030313,20122013,P,2013-06-06,2013-06-06T00:00:00Z,5,6,1,2,1,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT
26,2012030314,20122013,P,2013-06-08,2013-06-08T00:00:00Z,5,6,0,1,1,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT
27,2010030241,20102011,P,2011-04-30,2011-04-30T02:00:00Z,17,28,1,2,1,left,HP Pavilion at San Jose,/api/v1/venues/null,America/Los_Angeles,-7,PDT
28,2010030242,20102011,P,2011-05-01,2011-05-01T19:00:00Z,17,28,1,2,1,left,HP Pavilion at San Jose,/api/v1/venues/null,America/Los_Angeles,-7,PDT
29,2010030243,20102011,P,2011-05-05,2011-05-05T00:00:00Z,28,17,4,3,0,right,Joe Louis Arena,/api/v1/venues/null,America/Detroit,-4,EDT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11404,2018030223,20182019,P,2019-05-01,2019-05-01T23:00:00Z,2,12,2,5,1,right,PNC Arena,/api/v1/venues/5066,America/New_York,-4,EDT
11405,2018030234,20182019,P,2019-05-02,2019-05-02T01:30:00Z,19,25,2,4,1,right,American Airlines Center,/api/v1/venues/5019,America/Chicago,-5,CDT
11406,2018030214,20182019,P,2019-05-02,2019-05-02T23:30:00Z,6,29,4,1,0,left,Nationwide Arena,/api/v1/venues/5059,America/New_York,-4,EDT
11407,2018030244,20182019,P,2019-05-03,2019-05-03T02:00:00Z,28,21,0,3,1,right,Pepsi Center,/api/v1/venues/5064,America/Denver,-6,MDT
11408,2018030224,20182019,P,2019-05-03,2019-05-03T23:00:00Z,2,12,2,5,1,right,PNC Arena,/api/v1/venues/5066,America/New_York,-4,EDT
11409,2018030235,20182019,P,2019-05-04,2019-05-04T01:30:00Z,25,19,2,1,0,left,Enterprise Center,/api/v1/venues/5076,America/Chicago,-5,CDT
11410,2018030215,20182019,P,2019-05-04,2019-05-04T23:15:00Z,29,6,3,4,1,left,TD Garden,/api/v1/venues/5085,America/New_York,-4,EDT
11411,2018030245,20182019,P,2019-05-05,2019-05-05T02:00:00Z,21,28,1,2,1,left,SAP Center at San Jose,/api/v1/venues/null,America/Los_Angeles,-7,PDT
11412,2018030236,20182019,P,2019-05-05,2019-05-05T19:00:00Z,19,25,4,1,0,right,American Airlines Center,/api/v1/venues/5019,America/Chicago,-5,CDT
11413,2018030216,20182019,P,2019-05-06,2019-05-06T23:00:00Z,6,29,3,0,0,left,Nationwide Arena,/api/v1/venues/5059,America/New_York,-4,EDT
11414,2018030246,20182019,P,2019-05-07,2019-05-07T02:00:00Z,28,21,3,4,1,right,Pepsi Center,/api/v1/venues/5064,America/Denver,-6,MDT
11415,2018030237,20182019,P,2019-05-08,2019-05-08T00:00:00Z,25,19,1,2,1,left,Enterprise Center,/api/v1/venues/5076,America/Chicago,-5,CDT
11416,2018030247,20182019,P,2019-05-09,2019-05-09T01:00:00Z,21,28,2,3,1,left,SAP Center at San Jose,/api/v1/venues/null,America/Los_Angeles,-7,PDT
11417,2018030311,20182019,P,2019-05-10,2019-05-10T00:00:00Z,12,6,2,5,1,left,TD Garden,/api/v1/venues/5085,America/New_York,-4,EDT
11418,2018030321,20182019,P,2019-05-12,2019-05-12T00:00:00Z,19,28,3,6,1,left,SAP Center at San Jose,/api/v1/venues/null,America/Los_Angeles,-7,PDT
11419,2018030312,20182019,P,2019-05-12,2019-05-12T19:00:00Z,12,6,2,6,1,left,TD Garden,/api/v1/venues/5085,America/New_York,-4,EDT
11420,2018030322,20182019,P,2019-05-14,2019-05-14T01:00:00Z,19,28,4,2,0,left,SAP Center at San Jose,/api/v1/venues/null,America/Los_Angeles,-7,PDT
11421,2018030313,20182019,P,2019-05-15,2019-05-15T00:00:00Z,6,12,2,1,0,right,PNC Arena,/api/v1/venues/5066,America/New_York,-4,EDT
11422,2018030323,20182019,P,2019-05-16,2019-05-16T00:00:00Z,28,19,5,4,0,left,Enterprise Center,/api/v1/venues/5076,America/Chicago,-5,CDT
11423,2018030314,20182019,P,2019-05-17,2019-05-17T00:00:00Z,6,12,4,0,0,right,PNC Arena,/api/v1/venues/5066,America/New_York,-4,EDT
11424,2018030324,20182019,P,2019-05-18,2019-05-18T00:00:00Z,28,19,1,2,1,left,Enterprise Center,/api/v1/venues/5076,America/Chicago,-5,CDT
11425,2018030325,20182019,P,2019-05-19,2019-05-19T19:00:00Z,19,28,5,0,0,left,SAP Center at San Jose,/api/v1/venues/null,America/Los_Angeles,-7,PDT
11426,2018030326,20182019,P,2019-05-22,2019-05-22T00:00:00Z,28,19,1,5,1,left,Enterprise Center,/api/v1/venues/5076,America/Chicago,-5,CDT
11427,2018030411,20182019,P,2019-05-28,2019-05-28T00:00:00Z,19,6,2,4,1,left,TD Garden,/api/v1/venues/5085,America/New_York,-4,EDT
11428,2018030412,20182019,P,2019-05-30,2019-05-30T00:00:00Z,19,6,3,2,0,left,TD Garden,/api/v1/venues/5085,America/New_York,-4,EDT
11429,2018030413,20182019,P,2019-06-02,2019-06-02T00:00:00Z,6,19,7,2,0,left,Enterprise Center,/api/v1/venues/5076,America/Chicago,-5,CDT
11430,2018030414,20182019,P,2019-06-04,2019-06-04T00:00:00Z,6,19,2,4,1,left,Enterprise Center,/api/v1/venues/5076,America/Chicago,-5,CDT
11431,2018030415,20182019,P,2019-06-07,2019-06-07T00:00:00Z,19,6,2,1,0,left,TD Garden,/api/v1/venues/5085,America/New_York,-4,EDT
11432,2018030416,20182019,P,2019-06-10,2019-06-10T00:00:00Z,6,19,5,1,0,left,Enterprise Center,/api/v1/venues/5076,America/Chicago,-5,CDT
11433,2018030417,20182019,P,2019-06-13,2019-06-13T00:00:00Z,19,6,4,1,0,left,TD Garden,/api/v1/venues/5085,America/New_York,-4,EDT

In [39]:
train.drop(['venue_time_zone_tz'], axis = 1, inplace = True)

In [40]:
train.drop(['date_time', 'date_time_GMT', 'home_rink_side_start', 'venue_time_zone_id', 'venue_link', 'venue', 'away_goals', 'home_goals'], axis = 1, inplace =True)

In [41]:
train.drop(['type'], axis = 1, inplace = True)

In [42]:
train.head()

,game_id,season,away_team_id,home_team_id,outcome,venue_time_zone_offset
0,2011030221,20112012,1,4,1,-4
1,2011030222,20112012,1,4,0,-4
2,2011030223,20112012,4,1,1,-4
3,2011030224,20112012,4,1,1,-4
4,2011030225,20112012,1,4,0,-4

In [43]:
train

,game_id,season,away_team_id,home_team_id,outcome,venue_time_zone_offset
0,2011030221,20112012,1,4,1,-4
1,2011030222,20112012,1,4,0,-4
2,2011030223,20112012,4,1,1,-4
3,2011030224,20112012,4,1,1,-4
4,2011030225,20112012,1,4,0,-4
5,2011030411,20112012,26,1,0,-4
6,2011030412,20112012,26,1,0,-4
7,2011030413,20112012,1,26,1,-7
8,2011030414,20112012,1,26,0,-7
9,2011030415,20112012,26,1,1,-4
10,2011030416,20112012,1,26,1,-7
11,2010030311,20102011,14,6,0,-4
12,2010030312,20102011,14,6,1,-4
13,2010030313,20102011,6,14,0,-4
14,2010030314,20102011,6,14,1,-4
15,2010030315,20102011,14,6,1,-4
16,2010030316,20102011,6,14,1,-4
17,2010030317,20102011,14,6,1,-4
18,2012030221,20122013,3,6,1,-4
19,2012030222,20122013,3,6,1,-4
20,2012030223,20122013,6,3,0,-4
21,2012030224,20122013,6,3,1,-4
22,2012030225,20122013,3,6,1,-4
23,2012030311,20122013,6,5,0,-4
24,2012030312,20122013,6,5,0,-4
25,2012030313,20122013,5,6,1,-4
26,2012030314,20122013,5,6,1,-4
27,2010030241,20102011,17,28,1,-7
28,2010030242,20102011,17,28,1,-7
29,2010030243,20102011,28,17,0,-4
...,...,...,...,...,...,...
11404,2018030223,20182019,2,12,1,-4
11405,2018030234,20182019,19,25,1,-5
11406,2018030214,20182019,6,29,0,-4
11407,2018030244,20182019,28,21,1,-6
11408,2018030224,20182019,2,12,1,-4
11409,2018030235,20182019,25,19,0,-5
11410,2018030215,20182019,29,6,1,-4
11411,2018030245,20182019,21,28,1,-7
11412,2018030236,20182019,19,25,0,-5
11413,2018030216,20182019,6,29,0,-4
11414,2018030246,20182019,28,21,1,-6
11415,2018030237,20182019,25,19,1,-5
11416,2018030247,20182019,21,28,1,-7
11417,2018030311,20182019,12,6,1,-4
11418,2018030321,20182019,19,28,1,-7
11419,2018030312,20182019,12,6,1,-4
11420,2018030322,20182019,19,28,0,-7
11421,2018030313,20182019,6,12,0,-4
11422,2018030323,20182019,28,19,0,-5
11423,2018030314,20182019,6,12,0,-4
11424,2018030324,20182019,28,19,1,-5
11425,2018030325,20182019,19,28,0,-7
11426,2018030326,20182019,28,19,1,-5
11427,2018030411,20182019,19,6,1,-4
11428,2018030412,20182019,19,6,0,-4
11429,2018030413,20182019,6,19,0,-5
11430,2018030414,20182019,6,19,1,-5
11431,2018030415,20182019,19,6,0,-4
11432,2018030416,20182019,6,19,0,-5
11433,2018030417,20182019,19,6,0,-4

In [44]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(train.drop('outcome', axis=1),
                                                    train['outcome'], test_size=0.3)

In [45]:
from sklearn.linear_model import LogisticRegression
logmodel = LogisticRegression()
logmodel.fit(X_train,y_train)
predictions = logmodel.predict(X_test)

/opt/anaconda/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [46]:
from sklearn.metrics import classification_report
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00      1583
           1       0.54      1.00      0.70      1848

   micro avg       0.54      0.54      0.54      3431
   macro avg       0.27      0.50      0.35      3431
weighted avg       0.29      0.54      0.38      3431

/opt/anaconda/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
/opt/anaconda/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
/opt/anaconda/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)